[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AST"]
	path = AST
	url = https://github.com/alighanbari26/ast
[submodule "GPRMortality"]
	path = GPRMortality
	url = https://github.com/alighanbari26/gprmortality
